.table-tugas13 {
  width: 98%;
  border: 1px solid black;
  justify-items: center;
  margin: auto;
}

tbody {
  width: 100%;
}

.table-tugas13 th {
  background-color: gray;
}

.table-tugas13 td {
  background-color: orangered;
}
